
@{
    ViewBag.Title = "Index";
}

<center><h2>Bienvenidos al Sitio de Administracion de Education Records </h2></center>
    <div>
        <center><img src="~/Imagenes/portada.jpg" alt="EducacionAvanzada" /></center>
</div>
